@{
    ViewBag.Title = "Login";
}

<h2>TFS Login</h2>

<form id="loginForm" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="tfsUrl">Tfs Url:</label>
        <div class="controls">
            <input id="tfsUrl" name="tfsUrl" type="text" />
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="userName">Username:</label>
        <div class="controls">
            <input id="userName" name="userName" type="text" />
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="password">Password:</label>
        <div class="controls">
            <input id="password" name="password" type="password" />
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button id="submit" type="submit">Login</button>
        </div>
    </div>
</form>

<div id="loginError" style="display: none">
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var $loginError = $('#loginError'),
                $submitButton = $('#submit'),
                loginReturnUrl = '@ViewBag.ReturnUrl';
            
            $('#submit').live(
                'click',
                function(event) {
                    event.preventDefault();

                    var formData = {
                        tfsUrl: $('#tfsUrl').val(),
                        serviceIdUsername: $('#userName').val(),
                        serviceIdPassword: $('#password').val()
                    };
                    console && console.log('formData', formData);
                    
                    $.ajax({
                        url: '@Url.Action("TfsLogin")',
                        data: formData,
                        type: 'POST',
                        success: function (data) {
                            console && console.log('data', data);
                            if (data.Success === false) {
                                showLoginError(data.ErrorMessage);
                            }
                            else {
                                var redirect = loginReturnUrl || data.RedirectUrl;
                                window.location = redirect;
                            }
                        },
                        error: function (xhr, status, error) {
                            console && console.log('status', status);
                            console && console.log('error', error);

                            $submitButton.removeAttr('disabled');
                            showLoginError(status + ': ' + error);
                        }
                    });
                }
            );

            function showLoginError(message) {
                $loginError.text(message);
                $loginError.fadeTo(200, 1);
            }

            $loginError
                .hide()
                .ajaxStart(function() {
                    $submitButton.attr('disabled', 'disabled');
                    $loginError.fadeTo(200, 0);
                });
        });
    </script>
}