@using System.Web.Optimization
@{
    ViewBag.Title = "Login";
}

@section scripts
{
    @Scripts.Render("~/Scripts/Views/AccessLogin.js")

    <script>
        // TODO: this should really take a model from the controller with
        // the userprincipal and return url
        @{
            var tfsUrl = String.Empty;
            var userName = String.Empty;
            if (ViewBag.Principal != null)
            {
                tfsUrl = ViewBag.Principal.TfsUrl;
                userName = ViewBag.Principal.UserName;
            }
        }
        $(document).ready(function () {
            TfsManualTester.Login.Start('@ViewBag.ReturnUrl', '@tfsUrl', '@userName');
        });
    </script>
}

<h2>TFS Login</h2>

<form id="loginForm" class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="tfsUrl">Tfs Url:</label>
        <div class="controls">
            <input id="tfsUrl" name="tfsUrl" type="text" data-bind="value: tfsUrl" class="initial-focus" required />
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="userName">Username:</label>
        <div class="controls">
            <input id="userName" name="userName" type="text" data-bind="value: userName" required />
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="password">Password:</label>
        <div class="controls">
            <input id="password" name="password" type="password" data-bind="value: password" required />
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button id="submit" type="submit" class="btn btn-primary" data-url="@Url.Action("TfsLogin")" data-loading-text="Logging in...">Login</button>
        </div>
    </div>
</form>

@* TODO: fade-visible knockout binding *@
<div id="loginError" data-bind="visible: errorMessage" class="alert alert-error">
    <span data-bind="text: errorMessage"></span>
</div>